
.btn_top_users {
    display: block;
    height: 10vh;
    width: 10vh;
    background-image: url("../../public/top_users_icon.png");
    background-size: cover;
    border-radius: 10px;
    margin-left: 77%;
    margin-top: 6%;
}

.header__title{
    font-size: 60px;
    color: rgb(240, 15, 15);
    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.list-users:first-child::before {
    content: url("../../public/crown.png");
    display: block;
    position: relative;
    transform: scale(0.1);
    height: 10px;
    width: 10px;
    left: -7px;
    margin-bottom: 5px;
}

.list-users__user .user__level {
    color: rgb(158, 7, 7);
}

.list-users__user {
    display:  flex;
    font-size: 20px;
    color: rgb(145, 145, 145);
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .header__title {
      font-size: 35px;
      padding: 10px;
      text-align: center;
    }
  }